.c_darkblue{
    background: darkblue;
    color: white;
}

.c_royalblue{
    background: royalblue;
    color: white; 
}

.c_cyan{
    background: #7978FF; 
    color: white; 
}

.c_lightcyan{
    background: #C47AFF; 
    color: white; 
}