.wrapper{
    border: 1px solid rgba(180, 180, 180, 0.54);
    margin: 4rem auto;
}

.document-title-wrapper{
    display: flex;
    flex-direction: column;
    margin-bottom: 4rem;
    align-items: center;
    justify-content: center;
    color: #66005e;
}

.document-title{
    text-align: center;
    
}

.project-title{
    background:  dodgerblue;
    border-left: .5rem solid #1D1CE5;
    padding: 1rem;
}

.title{
    font-size: 2rem;
    color: white;
}

.p-title{
    font-size: 1.4rem;
    font-style: italic;
    color: white;
}

.report-year{
    font-size: 1rem;
    font-weight: 550;
    color: #5f245a;
    transform: translateY(-1rem);
}

.logo-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 4rem;
    padding-bottom: 2rem;
    border-bottom: 1px solid rgba(180, 180, 180, 0.54);
}

.logo{
    width: 20%;
}

.report-date{
    font-size: 1.3rem;
}

.desc-row{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    padding: 0 2rem;
}

.age-detail{
    width: 100%;
    padding: 2rem 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    
}

.data-card{
    /*border: 1px solid rgba(180, 180, 180, 0.54);*/
    box-shadow: 0 0px 2px rgba(0, 0, 0, .54);
    padding: 2rem;
    border-radius: 6px;
    width: 24.5%;
}

.graph-group{
    width: 100%;
    display: flex;
    flex-direction: row;
}

.desc-graph-u{
    width: 50%;
}

.heading-tertiary{
    font-size: 1.2rem;
    color: #66005e;
}

.v-num{
    font-size: 2.4rem;
    font-weight: 600;
}